name: utilities

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  PROJECT: Utilities.csproj

jobs:
  build:

    runs-on: windows-2022

    defaults:
      run:
        working-directory: utilities/src/utilities

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.5

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
        
    - name: Version
      shell: pwsh
      id: version
      run: |
        $buildDay = Get-Date -Format "yyyy.Mdd"
        $ver = "6.0." + $env:GITHUB_RUN_NUMBER
        echo "::set-output name=APP_VERSION::$ver"

    - name: Restore
      run: dotnet restore $PROJECT

    - name: Build
      run: dotnet build $PROJECT -c Release /p:Version=${{ steps.version.outputs.APP_VERSION }} /p:AssemblyVersion=${{ steps.version.outputs.APP_VERSION }} --no-restore
      
    - name: Pack
      run: dotnet pack $PROJECT -c Release /p:Version=${{ steps.version.outputs.APP_VERSION }} --no-restore --no-build --include-symbols -p:SymbolPackageFormat=snupkg -o .

    - name: Push to NuGet
      run: dotnet nuget push *.nupkg --skip-duplicate -s https://api.nuget.org/v3/index.json -k ${{secrets.NUGET_API_KEY}}

    - name: Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: package_utilities_${{ steps.version.outputs.APP_VERSION }}
        path: "**/*.nupkg"
