name: utilities

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-2022

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.5

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.7
      with:
        versionSpec: '5.x'

    - name: Determine Version
      uses: gittools/actions/gitversion/execute@v0.9.7

    - name: Restore
      run: dotnet restore Utilities.csproj
      working-directory: utilities/src/utilities

    - name: Build
      run: dotnet build Utilities.csproj -c Release -p:Version=$BUILD_VERSION -p:AssemblyVersion=$BUILD_VERSION -p:InformationalVersion=$BUILD_VERSION --no-restore
      working-directory: utilities/src/utilities
      
    - name: Pack
      run: dotnet pack Utilities.csproj -c Release --no-restore --no-build --include-symbols -p:SymbolPackageFormat=snupkg -o .
      working-directory: utilities/src/utilities
      
    - name: Push to NuGet
      run: dotnet nuget push *.nupkg --skip-duplicate -s https://api.nuget.org/v3/index.json -k ${{secrets.NUGET_API_KEY}}
      working-directory: utilities/src/utilities
