name: utilities.datalake

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-2022
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: Generate version number using date and run number
      shell: pwsh
      id: version-creator
      run: |
        $buildDay = Get-Date -Format "yyyy.Mdd"
        $ver = "6.0." + $env:GITHUB_RUN_NUMBER + ".0"
        echo "::set-output name=BUILD_VERSION::$ver"
        echo $BUILD_VERSION

    - name: Restore
      run: dotnet restore Utilities.DataLake.csproj
      working-directory: utilities.data.datalake/src/Utilities.DataLake

    - name: Build
      run: dotnet build Utilities.DataLake.csproj --configuration Release --no-restore -p:Version=$BUILD_VERSION
      working-directory: utilities.data.datalake/src/Utilities.DataLake
      
    - name: Publish
      if: startsWith(github.ref, 'refs/heads/release')
      run: nuget push **\*.nupkg -Source 'https://api.nuget.org/v3/index.json' -ApiKey ${{secrets.NUGET_API_KEY}}